/*import for Poetsen One font*/
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/*import for Karla font*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');

/*Asterix wildcard selector to overide the default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*generic styles*/
    color: #3a3a3a;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Header*/
header {
    background-color: #ffffff;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    font-size: 100%;
}

#menu li {
    margin-bottom: 0.5em;
}

nav {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #3a3a3a;
    display: none;
    /*top is assigned so the nav does not obscure the heading when toggled on*/
    top: 100%;
}

/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.label-nav-toggle {
    font-size: 2rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/*Main Content*/
main {
    background-color: blueviolet;
    /*make main content take up any surplus space*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: #FFFFFF;

}